<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="RollingAppender" class="org.apache.log4j.DailyRollingFileAppender">
      <param name="File" value="/local/ubuntu/output.log" />
     <param name="DatePattern" value="'.'yyyy-MM-dd" />
     <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{HH:mm:ss:SSS};%m%n" />
     </layout>
  </appender>
  <root>
    <priority value="info" />
    <appender-ref ref="RollingAppender"/>
  </root>
</log4j:configuration>

